<launch>
    <!-- Load the URDF into the robot_description parameter -->
    <param name="robot_description"
           command="$(find xacro)/xacro.py '$(find piano_robot/urdf/robot_description.urdf'" />

    <!-- Launch the joint_state_publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <!-- Launch the robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find piano_robot/config/my_robot.rviz" required="true" />
</launch>
