<launch>
    <!-- Launch Gazebo with your custom world -->
    <arg name="world_file" default="~/.gazebo/my_world.world"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <!-- Other Gazebo parameters like paused and use_sim_time -->
    </include>
        <!-- Load the URDF into the robot_description parameter -->
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find my_robot_description)/urdf/robot.urdf'" />

    
    <!-- Spawn your robot model -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" respawn="false" output="screen"
          args="-urdf -model my_robot -param robot_description -x 0 -y 0 -z 1" />
</launch>
